{% extends 'shared/_MainLayout.html' %}

{% block title %}تعویض رمز عبور{% endblock title %}

{% block tabs %} {% include "components/tabs.html" %} {% endblock tabs %}

{% block bar %} {% include "components/bars.html" %} {% endblock bar %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="input-field white-text">{{ form.as_p }}</div>
    <div class="red-text">
        {% for err in form.old_password.errors %}
        <p>
            {{ err }}
        </p>
        {% endfor %}
    </div>
    <div class="center-align">
        <button type="submit" class="btn waves-effect grey">تعویض رمز عبور</button>
    </div>
</form>
{% endblock content %}
