{% extends 'shared/_MainLayout.html' %}

{% block title %}ویرایش درباره ی شما{% endblock title %}

{% block tabs %} {% include "components/tabs.html" %} {% endblock tabs %}

{% block bar %} {% include "components/bars.html" %} {% endblock bar %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="input-field materialize-textarea">{{ form.as_p }}</div>
    <div class="center-align">
        <button type="submit" class="btn waves-effect grey">ثبت تغییرات</button>
    </div>
</form>
{% endblock content %}
