{% extends 'shared/_MainLayout.html' %}
{% block title %}ویرایش {{ object }} {% endblock title %}
{% block tabs %}
<a href="{% url 'todoes:todo_list' %}">
    <li class="tab">تودو ها</li>
</a>
<a href="{% url 'accounts:profile' %}">
    <li class="tab">حساب کاربری</li>
</a>
{% endblock tabs %}

{% block bar %}
<a href="#" data-target="mobile-demo" class="center-align sidenav-trigger"><i class="fa fa-bars"></i></a>
{% endblock bar %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="input-field">{{ form.as_p }}</div>
    <div class="center-align">
        <button type="submit" class="btn waves-effect blue">ثبت تغییرات</button>
    </div>
</form>
{% endblock content %}
{% comment %} <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">ثبت ویرایش ها</button>
</form> {% endcomment %}