{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block tabs %} {% include "components/tabs.html" %} {% endblock tabs %}

{% block bar %}
<a href="#" data-target="mobile-demo" class="center-align sidenav-trigger"><i class="fa fa-bars"></i></a>
{% endblock bar %}

{% block title %}پروفایل شما{% endblock title %}
{% block content %}
<div class="row">
    <div class="col s12 m6">
        <div class="card medium">
            <div class="card-image" style="padding: .2rem;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;">
                <img style="border-radius: 9999px;width: 7em;height: 100%;" src="{{ profile_image.get_image_url }}" />
                <div class="row center-align">
                    {% if first_name and last_name %}
                    <div class="row">
                        <h6>{{ first_name }} {{ last_name }}</h6>
                    </div>
                    {% else %}
                    <a href="{% url 'accounts:edit_profile' user.pk %}">نام خود را کامل کنید</a>
                    {% endif %}
                </div>
            </div>
            <div class="card-content">
                <p>
                    {% if about %}
                        {{ about }}
                    {% else %}
                        <div style="text-align: center;"><a href="#">درباره ی خودتان بنویسید</a></div>
                    {% endif %}
                <div class="mt-3">
                    <div class="row">
                        <a href="{% url 'accounts:change_profile_image' %}">
                            <button style="margin-bottom: -50px;" class="w-100 btn waves-effect green">
                                تغییر عکس پروفایل
                            </button>
                        </a>
                    </div>
                </div>
                </p>
                <div class="mt-3"></div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card small" style="height: 25pc;">
            <div class="card-title" style="padding-top: .1rem;padding-right: .2rem;">
                <h5>
                    اطلاعات حساب کاربری
                </h5>
            </div>
            <div class="card-content">
                <p>
                <div class="mt-3 row">
                    <label for="username">نام کاربری</label>
                    <h6 id="username">{{ username }}</h6>
                </div>
                <div class="mt-3 row">
                    <label for="eamil">ایمیل</label>
                    <h6 id="email">{{ email }}</h6>
                </div>
                <div class="mt-3 row">
                    <label for="username">تعداد تودو ها</label>
                    {% if todo_count != 0 %}
                    <h6 id="username">{{ todo_count }}</h6>
                    {% else %}
                    <p>شما هیچ تودویی ندارید. <a href="{% url 'todoes:create_todo' %}">یکی بسازید</a></p>
                    {% endif %}
                </div>
                </p>
                <div class="mt-3"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m3 s12">
            <a href="{% url 'accounts:edit_profile' user.pk %}">
                <button class="w-100 btn mt-3 waves-effect green">
                    ویرایش حساب
                </button>
            </a>
        </div>
        <div class="col m3 s12">
            <a href="{% url 'accounts:logout' %}">
                <button class="w-100 btn mt-3 waves-effect blue">
                    خروج از حساب
                </button>
            </a>
        </div>
        <div class="col m3 s12">
            <a href="{% url 'accounts:del_account' %}">
                <button class="w-100 btn waves-effect red mt-3">
                    حذف حساب
                </button>
            </a>
        </div>
        <div class="col m3 s12">
            <a href="{% url 'contact:contact' %}">
                <button class="w-100 btn waves-effect purple mt-3">
                    تماس با ما
                </button>
            </a>
        </div>

    </div>
</div>
{% endblock content %}