{% extends 'shared/_MainLayout.html' %}
{% block title %}انتشار خبر{% endblock title %}
{% block tabs %} {% include "components/tabs.html" %} {% endblock tabs %}

{% block bar %}
<a href="#" data-target="mobile-demo" class="center-align sidenav-trigger">
    <i class="fa fa-bars">
    </i>
</a>
{% endblock bar %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label>
        <div class="input-field">
            {{ form.as_p }}
        </div>
    </label>
    <div class="center-align">
        <button type="submit" class="btn waves-effect blue">ثبت تنظیمات</button>
    </div>
</form>
{% endblock content %}
