{% extends 'shared/_MainLayout.html' %}
{% block title %}ساخت تودو{% endblock title %}
{% block tabs %}
<a href="{% url 'todoes:todo_list' %}">
    <li class="tab">تودو ها</li>
</a>
<a href="{% url 'accounts:profile' %}">
    <li class="tab">حساب کاربری</li>
</a>
{% endblock tabs %}

{% block bar %}
<a href="#" data-target="mobile-demo" class="center-align sidenav-trigger"><i class="fa fa-bars"></i></a>
{% endblock bar %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="input-field materialize-textarea">{{ form.as_p }}</div>
    <div class="center-align">
        <button type="submit" class="btn waves-effect blue">اضافه کردن تودو</button>
    </div>
</form>
{% endblock content %}