{% extends 'shared/_MainLayout.html' %}
{% block title %}حذف {{ todo.title }}{% endblock title %}
{% block tabs %}
<a href="{% url 'todoes:todo_list' %}">
    <li class="tab">تودو ها</li>
</a>
<a href="{% url 'accounts:profile' %}">
    <li class="tab">حساب کاربری</li>
</a>
{% endblock tabs %}

{% block bar %}
<a href="#" data-target="mobile-demo" class="center-align sidenav-trigger"><i class="fa fa-bars"></i></a>
{% endblock bar %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h5>آیا واقعا می خواهی "{{ todo }}" را حذف کنی </h5>
    <div class="center-align mt-3">
        <button type="submit" class="btn waves-effect red">بله</button>
        <button onclick="window.history.back()" class="btn waves-effect green">
            خیر
        </button>
    </div>
</form>
{% endblock content %}