{% extends 'shared/_MainLayout.html' %}

{% block title %} {{ todo.title }} {% endblock title %}

{% block tabs %}
<a href="{% url 'todoes:todo_list' %}">
    <li class="tab">تودو ها</li>
</a>
<a href="{% url 'accounts:profile' %}">
    <li class="tab">حساب کاربری</li>
</a>
{% endblock tabs %}

{% block bar %}
<a href="#" data-target="mobile-demo" class="center-align sidenav-trigger"><i class="fa fa-bars"></i></a>
{% endblock bar %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ todo.title }}</span>
                <p>{{ todo.text }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'todoes:edit_todo' todo.pk %}">
                    <button class="btn btn-small waves-effect green">ویرایش</button>
                </a>
                <a href="{% url 'todoes:delete_todo' todo.pk %}">
                    <button class="btn btn-small waves-effect red">حذف</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}