{% extends 'shared/_MainLayout.html' %}

{% block title %}لیست تودو ها{% endblock title %}

{% block tabs %}
<a href="{% url 'todoes:todo_list' %}">
    <li class="tab">تودو ها</li>
</a>
<a href="{% url 'accounts:profile' %}">
    <li class="tab">حساب کاربری</li>
</a>
{% endblock tabs %}

{% block bar %}
<a href="#" data-target="mobile-demo" class="center-align sidenav-trigger"><i class="fa fa-bars"></i></a>
{% endblock bar %}

{% block content %}
<div class="fixed-action-btn">
    <a href="{% url 'todoes:create_todo' %}" class="waves-effect btn-floating btn-large blue">
        <i class="fas fa-plus"></i>
    </a>
</div>
{% if todo_list %}
<div class="col s9">
    <ul class="collapsible todo-list">
        {% for todo in todo_list %}
        <li>
            <a href="{% url 'todoes:todo_detail' todo.pk %}">
                <div class="collapsible-header">
                    {{ todo.title }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>شما هیچ تودویی ندارید. از طریق آیکن پایین صفحه میتوانید یکی اضافه کنید</p>
{% endif %}
{% endblock content %}