{% extends 'shared/_MainLayout.html' %}
{% block title %}انتشار خبر{% endblock title %}

{% block tabs %} {% include "components/tabs.html" %} {% endblock tabs %}

{% block bar %} {% include "components/bars.html" %} {% endblock bar %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label>
        <div class="input-field">
            {{ form.as_p }}
        </div>
    </label>
        {% for error in form.errors %}
            <p class="red-text">{{ error }}</p>
        {% endfor %}
    <div class="center-align">
        <button type="submit" class="btn waves-effect blue">اضافه کردن خبر</button>
    </div>
</form>
{% endblock content %}