{% extends 'shared/_MainLayout.html' %}

{% block title %}حذف {{ new.title }}{% endblock title %}

{% block tabs %} {% include "components/tabs.html" %} {% endblock tabs %}

{% block bar %} {% include "components/bars.html" %} {% endblock bar %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h5>آیا واقعا می خواهی "{{ new }}" را حذف کنی </h5>
    <div class="center-align mt-3">
        <button type="submit" class="btn waves-effect red">بله</button>
        <button onclick="window.history.back()" class="btn waves-effect green">
            خیر
        </button>
    </div>
</form>
{% endblock content %}