<p>{{ new.title }}</p>
<p>{{ new.simple_desc }}</p>
<p>{{ new.pub_date }}</p>
<p> Is Active? 
    {% if new.is_active %}
        Yes
    {% else %}
        No
    {% endif %}
</p>
<p>{{ new.text }}</p>

{% if user.is_superuser %}
<p>
    <a href="{% url 'news:edit_new' new.pk %}"><button>ویرایش</button></a>
    <a href="{% url 'news:delete_new' new.pk %}"><button>حذف</button></a>
</p>
{% endif %}