{% extends 'shared/_MainLayout.html' %}

{% block title %}لیست اخبار{% endblock title %}

{% block tabs %} {% include "components/tabs.html" %} {% endblock tabs %}

{% block bar %} {% include "components/bars.html" %} {% endblock bar %}

{% block content %}
{% if is_superuser %}
<div class="fixed-action-btn">
    <a href="{% url 'news:create_new' %}" class="waves-effect btn-floating btn-large blue">
        <i class="fas fa-plus"></i>
    </a>
</div>
{% endif %}
{% if new_list %}
<div class="col s9">
    <ul class="collapsible todo-list">
        {% for new in new_list %}
        <li>
            <a href="{{ new.get_absolute_url }}">
                <div class="collapsible-header">
                    {{ new.title }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>خبری برای شما موجود نیست</p>
{% endif %}
{% endblock content %}